# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.log
*.status
*.cache
auth.o
cfg_file.lex.c
cfg_file.lex.o
cfg_file.tab.c
cfg_file.tab.h
cfg_file.tab.o
client.o
config.cache
config.h
config.log
config.status
lfd_encrypt.o
lfd_lzo.o
lfd_shaper.o
lfd_zlib.o
lib.o
linkfd.o
llist.o
lock.o
main.o
netlib.o
pipe_dev.c
pipe_dev.o
pty_dev.c
pty_dev.o
server.o
tap_dev.c
tap_dev.o
tcp_proto.c
tcp_proto.o
tun_dev.c
tun_dev.o
tunnel.o
udp_proto.c
udp_proto.o
vtund
